<?xml version="1.0"?>
<appSettings>
  <!--<add key="ida:AppID" value="78fb5bd6-ec93-4506-92dd-2966d73e1008" />
    <add key="ida:AppSecret" value="1iR7Q~ssW02hd3V6FCZbtcP6fJAskmY6SQlkc" />
    <add key="ida:RedirectUri" value="https://localhost:44325/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read" />-->

  <add key="Authority" value= "https://graph.microsoft.com/beta"/>
  <add key="Directory" value= "32d3f70d-b02a-4215-af56-30266d9c88df"/>
  <add key="Application" value= "b97bfd94-0861-42e1-b258-461d14e0a68b"/>
  <add key="ClientSecret" value= "1aw7Q~g~5B5GA~vnCp4VkHX0.JstUxOl65gkx"/>
  <add key="FromDate" value= "2022-05-21"/>
  <add key="ToDate"  value= "2022-08-02"/>

</appSettings>
