<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="78fb5bd6-ec93-4506-92dd-2966d73e1008" />
    <add key="ida:AppSecret" value="1iR7Q~ssW02hd3V6FCZbtcP6fJAskmY6SQlkc" />
    <add key="ida:RedirectUri" value="https://localhost:44325/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
